.about__top {
  text-align: center;
  align-items: center;
  & h2,
  & p {
    max-width: 79%;
  }
  & h2 {
    margin-bottom: 10px;
  }
  & p {
    margin-bottom: 25px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
//
