.events{
	padding: 120px 0;
	background-color: $--white;
	border-bottom: 1px solid $--gray-text;
	@media screen and (max-width:767px) {
		padding: 60px 0;
	}
}
.events__container{
	display: flex;
	gap: 60px;
	@media screen and (max-width:1023px) {
		flex-direction: column;
	}
}
.events__images{
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc((100% / 2) - 30px);
	position: relative;
	@media screen and (max-width:1023px) {
		width: 100%;		
	}
	& img{
		border-radius: 50%;
		max-width: 62%;
		aspect-ratio:  1 / 1;
		@media screen and (max-width:1023px) {
			max-width: 50%;		
		}
		&:nth-child(2){			
			border: 10px solid $--white;
			z-index: 1;
			margin-left: -30%;		
			@media screen and (max-width:550px) {
				border-width: 5px;
			}
		}
		&:nth-child(1){
			z-index: 0;
			filter: grayscale(100%);
		}
	}
}
.events__content{
	height: auto;
    display: flex;
    width: calc(50% - 30px);
    flex-direction: column;
	height: auto;
	
	@media screen and (max-width:1023px) {
		width: 100%;
	}
	& h2{
		text-wrap: balance;
		margin-bottom: 10px;
	}
	& p{
		margin-bottom: 10px;
		@include text-regular;
		&:nth-last-of-type(1){
			@media screen and (max-width:1023px) {
				margin-bottom: 40px;
			}
			margin-bottom: auto;
		}
	}
	& .btn{
		margin-top: auto;
		max-width: 220px;
	}
}