@mixin titleH4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin titleH1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: balance;
  & span {
    text-transform: none;
    font: inherit;
  }
  @media screen and (max-width: 375px) {
    font-size: 28px;
  }
}
@mixin titleH2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  & span {
    font: inherit;
    background: $--background;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (max-width: 375px) {
    font-size: 24px;
  }
}

/* H3 */
@mixin titleH3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin title-name {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
//p#1
@mixin text-regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@mixin text-regular-xs {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* p (#2) */
@mixin text-semi-medium {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin text-semi-l {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
// #p3
@mixin text-semi {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@mixin text-height-regular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin bold-xxs-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
/* p (#6) */
@mixin text-regular-m {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@mixin text-regular-l{
	font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
@media screen and (max-width:550px) {
	font-size: 18px;
}
}
/* p (#5) */
@mixin text-bold-xs{
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
