/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

/* H3 */
/* p (#2) */
/* p (#6) */
/* p (#5) */
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-ExtraBold.ttf);
  font-weight: 800;
}
body {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  color: #0e0c15;
  background: #f3f7f9;
}
body:has(.error) {
  background-color: #0e0c15;
}

@media screen and (max-width: 1023px) {
  main {
    margin-top: 77px;
  }
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: balance;
}
h1 span {
  text-transform: none;
  font: inherit;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
h2 span {
  font: inherit;
  background: linear-gradient(94deg, #51bf26 0%, #e3ae0b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title div {
  border-radius: 50px;
  border: 1px solid #7f868a;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 4px 18px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #7f868a;
}

.btn {
  display: flex;
  gap: 10px;
  border: 1px solid #2ca656;
  background-color: #fff;
  padding: 11px 24px;
  padding: 11px 20px;
  align-items: center;
  justify-content: center;
  color: #2ca656;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  transition: 0.3s linear;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.btn:hover {
  color: #fff;
  background-color: #2ca656;
}
.btn:hover svg path {
  fill: #fff;
}

.green-btn {
  display: flex;
  gap: 10px;
  border: 1px solid #2ca656;
  padding: 11px 20px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  transition: 0.3s linear;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  position: relative;
  color: #fff;
  background-color: #2ca656;
}
.green-btn:hover {
  color: #2ca656;
  background-color: #fff;
}
.green-btn:hover svg path {
  fill: #2ca656;
}

.mb-m {
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .mb-m {
    margin-bottom: 60px;
  }
}

.menu {
  color: #7f868a;
}
.menu li {
  width: -moz-fit-content;
  width: fit-content;
}
.menu li a {
  transition: 0.3s ease;
}
.menu li a:hover {
  color: #2ca656;
}

.scrolling__title {
  width: 49%;
  position: sticky;
  top: 150px;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .scrolling__title {
    top: 0;
    position: static;
    width: 100%;
  }
}
.scrolling__title h2 {
  text-wrap: balance;
}

.scrolling_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  width: 100%;
  padding: 60px;
  position: sticky;
  background-color: #fff;
  transition: all 0.4s ease-in-out 0s;
  min-height: 228px;
  height: 100%;
  border-radius: 15px;
  border: 0.5px solid #7f868a;
}
.scrolling_item:not(:first-of-type) {
  margin-top: -10px;
}
@media screen and (min-width: 1200px) {
  .scrolling_item {
    gap: 144px;
  }
}
@media screen and (max-width: 767px) {
  .scrolling_item {
    padding: 30px 20px;
    gap: 54px;
  }
}
@media screen and (max-width: 550px) {
  .scrolling_item {
    gap: 34px;
  }
}

.scrolling {
  width: 100%;
}

.scrolling_item-count {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background-color: #2ca656;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  aspect-ratio: 100/100;
}
.scrolling_item-count:after {
  content: "";
  position: absolute;
  right: -34px;
  width: 1px;
  height: 97%;
  top: calc(50% - 50px);
  top: 0;
  background-color: #7f868a;
}
@media screen and (min-width: 1200px) {
  .scrolling_item-count:after {
    right: -64px;
  }
}
@media screen and (max-width: 1023px) {
  .scrolling_item-count:after {
    right: -64px;
  }
}
@media screen and (max-width: 767px) {
  .scrolling_item-count:after {
    right: -34px;
  }
}
@media screen and (max-width: 550px) {
  .scrolling_item-count:after {
    right: -20px;
  }
}
@media screen and (max-width: 767px) {
  .scrolling_item-count {
    max-width: 85px;
  }
}
@media screen and (max-width: 550px) {
  .scrolling_item-count {
    max-width: 65px;
    font-size: 26px;
  }
}

.scrolling_item-content {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.scrolling_item-content h3 {
  margin-bottom: 10px;
}
.scrolling_item-content p:not(:last-child) {
  margin-bottom: 10px;
}

.contact__wrap {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 20px 50px;
}

.social__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social__wrap a {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
}
.social__wrap a svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.breadcrumbs {
  padding: 5px 0;
  margin-bottom: 10px;
}
.breadcrumbs__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.breadcrumbs a {
  cursor: pointer;
  color: linear-gradient(90deg, #51bf26 58%, #e3ae0b 86.78%);
}

.double__img-item {
  display: flex;
  justify-content: space-between;
  border-radius: 203px;
  border: 0.5px solid #4b4b4b;
  background: #fff;
  margin: 0 auto;
  max-width: 65%;
  width: 100%;
}
.double__img-item:nth-of-type(odd) {
  flex-direction: row;
}
.double__img-item:nth-of-type(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .double__img-item:nth-of-type(even) {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .double__img-item:nth-of-type(even) {
    flex-direction: column;
    border-radius: 0;
    border: none;
    background-color: transparent;
    align-items: center;
  }
}
.double__img-item:nth-of-type(even) .double__img-item-images img:nth-child(1) {
  left: 0;
}
@media screen and (max-width: 767px) {
  .double__img-item:nth-of-type(even) .double__img-item-images {
    margin-right: auto;
    margin-left: 0;
  }
}
.double__img-item:nth-of-type(even) .double__img_content {
  padding: 40px 40px 40px 100px;
}
@media screen and (max-width: 767px) {
  .double__img-item:nth-of-type(even) .double__img_content {
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 500px;
    border: 0.5px solid #7f868a;
  }
}
@media screen and (max-width: 550px) {
  .double__img-item:nth-of-type(even) .double__img_content {
    border-radius: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .double__img-item {
    max-width: 69.2%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .double__img-item {
    margin-right: 0;
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .double__img-item {
    flex-direction: column;
    border-radius: 0;
    border: none;
    background-color: transparent;
    align-items: center;
    max-width: 100%;
  }
  .double__img-item:nth-of-type(odd), .double__img-item:nth-of-type(even) {
    flex-direction: column;
    border-radius: 0;
    border: none;
    background-color: transparent;
    align-items: center;
    max-width: 100%;
  }
}

.double__img-item-images {
  display: flex;
  position: relative;
}
.double__img-item-images img {
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 0;
  max-width: 330px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.double__img-item-images img:nth-child(1) {
  position: absolute;
  top: 0;
  left: -60%;
  left: 0;
  filter: grayscale(0%);
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .double__img-item-images img {
    max-width: 150px;
    aspect-ratio: 1/1;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .double__img-item-images {
    max-width: 150px;
    aspect-ratio: 1/1;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

.double__img_content {
  width: 59%;
  display: flex;
  flex-direction: column;
  padding: 40px 100px 40px 40px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .double__img_content {
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 500px;
    border: 0.5px solid #7f868a;
  }
}
@media screen and (max-width: 550px) {
  .double__img_content {
    border-radius: 30px;
  }
}
.double__img_content h3 {
  text-wrap: balance;
  max-width: 330px;
}

@media screen and (max-width: 550px) {
  .faq__container h2 {
    text-wrap: balance;
  }
  .faq__container h2 span {
    margin: 5px;
    display: inline-block;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.green {
  border-radius: 500px;
  background-color: #2ca656;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.green:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  margin-right: 4px;
  display: block;
  border-radius: 50%;
}

.page-main {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .page-main {
    flex-direction: column;
  }
}

.main-content {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .main-content {
    width: 100%;
  }
}

.navbar {
  width: 25%;
}
@media screen and (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.navbar h3 {
  margin-bottom: 20px;
}
.navbar .green-btn {
  max-width: 100%;
  background-color: #2ca656;
  color: #fff;
  padding: 15px;
}

.navbar__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.navbar__wrap .news__item img {
  max-height: 200px;
}

.animated {
  animation: img-animate 0.7s linear forwards;
}

.reverse-animated {
  animation: reverse-img-animate 0.7s linear forwards;
}

@keyframes img-animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}
@keyframes reverse-img-animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60%);
  }
}
.accord {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 10px;
}

.accord-item {
  max-width: 100%;
  width: 100%;
  border: 1px solid #7f868a;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.accord-item:nth-last-of-type(1) {
  border-bottom: 1px solid #7f868a;
}
.accord-item-top {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 30px;
}
@media screen and (max-width: 767px) {
  .accord-item-top {
    padding: 30px 20px;
    gap: 20px;
  }
}
@media screen and (max-width: 367px) {
  .accord-item-top {
    gap: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    white-space: pre-wrap;
  }
}
.accord-item-top p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  white-space: pre-wrap;
  margin-bottom: 0;
}
@media screen and (max-width: 367px) {
  .accord-item-top p {
    overflow-wrap: anywhere;
  }
}
.accord-item-top .close {
  min-width: 30px;
  min-height: 30px;
  border-radius: 5px;
  transition: all 0.3s linear;
  background-color: #0e0c15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accord-item-top .close svg {
  transition: 0.3s linear;
  max-width: 25px;
  max-height: 25px;
}
.accord-item-bottom {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  padding: 0px 30px;
}
.accord-item-bottom p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0;
}

.accord-item:hover,
.accord-item.active {
  border: 0.5px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, white, white), linear-gradient(94deg, #51bf26 0%, #e3ae0b 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.accord-item.active .accord-item-bottom {
  color: #0e0c15;
  opacity: 1;
  max-height: 100vh;
  overflow: visible;
  padding: 30px;
  margin-top: -30px;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 767px) {
  .accord-item.active .accord-item-bottom {
    padding: 20px;
  }
}
@media screen and (max-width: 367px) {
  .accord-item.active .accord-item-bottom {
    padding: 10px;
  }
}

.accord-item.active .accord-item-top svg {
  transform: rotate(45deg);
}

.move__top {
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.move__top h2, .move__top p {
  max-width: 79%;
}
.move__top h2 {
  margin-bottom: 10px;
}
.move__top p {
  margin-bottom: 25px;
}
.move__top p:not(:last-child) {
  margin-bottom: 10px;
}

.move__slider {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .moveSlider {
    margin-left: -19%;
    margin-right: -19%;
  }
}

.move-slide {
  border-radius: 30px;
  background-color: aliceblue;
  aspect-ratio: 310/410;
}
@media screen and (max-width: 767px) {
  .move-slide {
    max-width: 160px;
    max-height: 210px;
    aspect-ratio: 160/210;
  }
}
.move-slide img {
  border-radius: 30px;
  aspect-ratio: 310/410;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .move-slide img {
    aspect-ratio: 160/210;
  }
}
.move-slide.odd img {
  transform: rotate(-2deg);
}
.move-slide.even img {
  transform: rotate(2deg);
}

.header {
  background-color: #0e0c15;
  padding: 13px 0 14px 0;
}
@media screen and (max-width: 1023px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 20;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: #fff;
}
.header__container .logo {
  max-width: 110px;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .header__container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 76px);
    position: fixed;
    left: -100%;
    top: 76px;
    background-color: #0e0c15;
    transition: all 0.5s ease;
    padding: 0 20px;
  }
  .open .header__container nav {
    left: 0;
    align-items: center;
    gap: 30px;
    top: 76px;
    height: calc(100vh - 76px);
    overflow: hidden;
    overflow-y: auto;
    z-index: 50;
  }
}
.header__container nav .menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .header__container nav .menu {
    gap: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header__container nav .menu {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
.header__container nav .menu .header__book {
  display: none;
}
@media screen and (max-width: 1023px) {
  .header__container nav .menu .header__book {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .header__container nav .menu .header__book .btn {
    display: flex;
    max-width: 100%;
  }
}
.header__container nav .menu li {
  padding: 4px 14px;
}
.header__container nav .menu li:has(.header__book) {
  padding: 0;
}
@media screen and (max-width: 1023px) {
  .header__container nav .menu li {
    font-size: 18px;
  }
}
.header__container nav .menu li.current_page_item {
  border-radius: 500px;
  border: 1px solid #2ca656;
  color: #fff;
}

.header__book {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header__book {
    display: none;
  }
}
.header__book .btn {
  color: inherit;
  max-width: 163px;
  width: 100%;
  background-color: transparent;
}
.header__book .btn:hover {
  color: #fff;
  background-color: #2ca656;
}
.header__book .btn:hover svg path {
  fill: #fff;
}

.switch__btns {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}
.switch__btns::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 50%;
  height: 16px;
  width: 1px;
  background-color: #fff;
}

.switch__btn {
  background-color: transparent;
  color: #7f868a;
  transition: 0.3s ease;
}
.switch__btn.active {
  color: #2ca656;
}
.switch__btn:hover {
  color: #2ca656;
}

.burgerBtn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .burgerBtn {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #2ca656;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    right: 0;
    border-radius: 50%;
  }
  .burgerBtn .btn-menu-line {
    width: 28px;
    height: 2px;
    position: absolute;
    left: 10px;
    background-color: #2ca656;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .burgerBtn .btn-menu-line1 {
    top: 17px;
  }
  .burgerBtn .btn-menu-line3 {
    bottom: 15px;
  }
  .open .burgerBtn .btn-menu-line1 {
    transform: rotate(45deg) translate(5px, 5px) scale(1.15) rotate(92deg);
  }
  .open .burgerBtn .btn-menu-line2 {
    opacity: 0;
  }
  .open .burgerBtn .btn-menu-line3 {
    transform: rotate(310deg) translate(5px, -5px) scale(1.15) rotate(-86deg);
  }
}

.footer {
  background-color: #0e0c15;
  color: #fff;
}

.footer__container {
  display: flex;
  padding: 100px 0;
  gap: 40px;
}
@media screen and (max-width: 980px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__container .logo {
  margin-right: auto;
  max-width: 200px;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .footer__container .logo {
    margin: 0 auto;
  }
}
.footer__container .logo img {
  width: 100%;
}

.footer__info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (min-width: 1200px) {
  .footer__info {
    gap: 120px;
  }
}
@media screen and (max-width: 767px) {
  .footer__info {
    flex-direction: column;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__nav .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 60px;
}
.footer__nav .menu a {
  transition: 0.3s ease;
}
.footer__nav .menu a:hover {
  color: #2ca656;
}

.footer__nav div,
.footer__contact div,
.footer__social div {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact div {
  margin-bottom: 30px;
}
.footer__contact a {
  padding: 5px 10px;
  background-color: #252134;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__contact a:not(:last-child) {
  margin-bottom: 5px;
}
.footer__contact a:hover svg rect {
  fill: #2ca656;
}
.footer__contact a svg {
  width: 37px;
  height: 37px;
  transition: 0.3s ease;
}
.footer__contact a svg rect {
  transition: inherit;
}

.footer__social {
  display: flex;
  flex-direction: column;
}
.footer__social div:not([class]) {
  margin-bottom: 30px;
  width: 100%;
}
.footer__social .socials {
  display: flex;
  gap: 10px;
  width: 100%;
}
.footer__social .socials a {
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
}
.footer__social .socials a:hover svg ellipse {
  fill: #2ca656;
}
.footer__social .socials a svg {
  width: 64px;
  height: 64px;
  transition: 0.3s ease;
}
.footer__social .socials a svg ellipse {
  transition: inherit;
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  position: relative;
  gap: 10px;
  border-top: 1px solid #fff;
}
@media screen and (max-width: 1023px) {
  .footer__copy {
    text-align: center;
    flex-direction: column-reverse;
  }
}

.lumious {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 270px;
  font-size: 12px;
}

.hero {
  background: linear-gradient(94deg, #51bf26 0%, #e3ae0b 100%);
  color: #fff;
}

.hero__container {
  padding: 50px 0;
}
.main .hero__container {
  padding: 0;
}

.hero__top {
  text-align: center;
  position: relative;
}
.hero__top h1 {
  margin-bottom: 10px;
}
.hero__top p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .hero__top {
  padding: 66px 0 127px 0;
}
.main .hero__top:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/circle.svg) center center/contain no-repeat;
}

.hero-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #0e0c15;
  color: #fff;
  border: 1px solid #2ca656;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .hero-link {
    top: 50%;
  }
}
@media screen and (max-width: 550px) {
  .hero-link {
    top: 55%;
  }
}
@media screen and (max-width: 367px) {
  .hero-link {
    top: 70%;
  }
}
.hero-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  border: 0px solid #2ca656;
  border-radius: 50%;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  animation: heroAnimation 2s linear infinite;
}
@media screen and (min-width: 1200px) {
  .hero-link {
    max-width: 180px;
    max-height: 180px;
    padding: 30px;
  }
}
.hero-link:hover {
  background-color: #2ca656;
}
.hero-link:hover::after {
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1.5px solid #2ca656;
}

.main .hero__bottom {
  max-height: 400px;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .main .hero__bottom {
    min-height: 360px;
  }
}
.main .hero__bottom img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1440/400;
  max-height: 400px;
  width: 100%;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}
@media screen and (max-width: 1023px) {
  .main .hero__bottom img {
    min-height: 360px;
  }
}

@keyframes heroAnimation {
  0% {
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px solid #2ca656;
  }
  50% {
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1.5px solid #2ca656;
  }
  100% {
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px solid #2ca656;
  }
}
.advantages__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  align-items: start;
}
@media screen and (max-width: 1023px) {
  .advantages__container {
    flex-direction: column;
  }
}

.about__container {
  display: flex;
  align-content: stretch;
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .about__container {
    flex-direction: column;
  }
}

.about__img {
  width: 40%;
  height: auto;
  border-radius: 30px;
}
@media screen and (max-width: 1023px) {
  .about__img {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1/0.5;
  }
}
.about__img img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  aspect-ratio: 1/0.5;
}

.about__content {
  width: 59%;
}
@media screen and (max-width: 1023px) {
  .about__content {
    width: 100%;
  }
}

.about__title {
  margin-bottom: 30px;
  text-wrap: balance;
}

.about__text {
  padding: 40px 70px;
  border: 1px solid #7f868a;
  border-radius: 20px;
}
@media screen and (max-width: 550px) {
  .about__text {
    padding: 20px 41px;
  }
}
.about__text p {
  margin-bottom: 20px;
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.about__text p:nth-last-of-type(1) {
  margin-bottom: 0;
}
.about__text p:nth-of-type(1):before, .about__text p:nth-of-type(1):after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("../images/quotation.svg") center center/cover no-repeat;
}
.about__text p:nth-of-type(1):before {
  left: -30px;
}
.about__text p:nth-of-type(1)::after {
  right: -30px;
  transform: scale(-1, 1);
}

.services__title {
  margin-bottom: 40px;
  align-items: center;
  text-wrap: balance;
}
@media screen and (max-width: 767px) {
  .services__title {
    align-items: flex-start;
  }
}

.services__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services__item {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #7f868a;
  border-radius: 15px;
}
@media screen and (max-width: 1023px) {
  .services__item {
    flex-direction: column;
  }
}

.services__item_content {
  width: 50%;
  padding: 40px;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .services__item_content {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .services__item_content {
    padding: 20px;
  }
}
.services__item_content h3 {
  margin-bottom: 10px;
}
.services__item_content p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}
@media screen and (max-width: 1023px) {
  .services__item_content p {
    margin-bottom: 20px;
  }
}
.services__item_content .btn {
  max-width: 220px;
  margin-top: auto;
  justify-content: center;
}

.services__item_img {
  border-radius: 15px;
  width: 50%;
  height: auto;
  flex-grow: 1;
}
@media screen and (max-width: 1023px) {
  .services__item_img {
    width: 100%;
    aspect-ratio: 640/400;
  }
}
.services__item_img img {
  border-radius: inherit;
  aspect-ratio: 640/400;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}

.mission__title {
  align-items: center;
  margin-bottom: 40px;
}

.mission__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gallery__container .btn {
  margin: 0 auto;
  max-width: 179px;
}

.gallery__title {
  align-items: center;
  margin-bottom: 40px;
}

.gallery__container_btns {
  display: flex;
  gap: 10px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .gallery__container_btns {
    overflow-x: auto;
  }
}

.gallery__container_btns-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  border: 1px solid #2ca656;
  color: #2ca656;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 500px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
.gallery__container_btns-btn.active-tab {
  background-color: #2ca656;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .gallery__container_btns-btn {
    white-space: nowrap;
  }
}
.gallery__container_btns-btn:hover {
  background-color: #2ca656;
  color: #fff;
}

.gallery__images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.gallery__images img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  max-height: 400px;
  border-radius: 15px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .gallery__images img:nth-child(n+2) {
    width: calc(25% - 10px);
  }
  .gallery__images img:nth-child(5n+1) {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 1023px) {
  .gallery__images img {
    max-height: 100%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 767px) {
  .gallery__images img:nth-child(3n+1) {
    width: 100%;
  }
  .gallery__images img:nth-child(3n+2), .gallery__images img:nth-child(3n+3) {
    width: calc(50% - 10px);
  }
}

.news__container .btn {
  margin: 0 auto;
}

.news__title {
  align-items: center;
  margin-bottom: 40px;
}

.news__item {
  height: auto;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.news__item:hover > .news__item_bottom {
  color: #fff;
  background-color: #2ca656;
  border-color: transparent;
}
.news__item:hover > .news__item_bottom .news__more {
  color: #fff;
}

.news__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-height: 275px;
  width: 100%;
  height: 100%;
}
.news__link img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-height: 275px;
  object-fit: cover;
  -o-object-position: 100% 20%;
     object-position: 100% 20%;
}
@media screen and (max-width: 550px) {
  .news__link img {
    max-height: 180px;
  }
}

.news__item_bottom {
  padding: 20px 30px;
  border-radius: 10px;
  border: 0.5px solid #7f868a;
  background: #fff;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.3s linear;
}
.news__item_bottom p {
  margin-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.news__date {
  margin-bottom: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news__more {
  color: #2ca656;
  transition: 0.3s linear;
  text-decoration: underline;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: auto;
}
.news__more:hover {
  text-decoration: none;
}

.news__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1023px) {
  .news__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .news__wrap {
    display: flex;
    flex-direction: column;
  }
}

.faq__container {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .faq__container {
    flex-direction: column;
  }
}

.faq__title {
  width: 49%;
}
@media screen and (max-width: 1023px) {
  .faq__title {
    width: 100%;
    margin-bottom: 40px;
  }
}

.faq__accord {
  width: 100%;
}

.achievements__title {
  margin-bottom: 40px;
  align-items: center;
}

.achievements__items {
  display: flex;
  flex-direction: column;
}

.achievements__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 40px 60px;
  border-radius: 30px;
  border: 1px solid #0e0c15;
  position: relative;
  z-index: 1;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .achievements__item {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
.achievements__item p {
  width: 38%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (max-width: 767px) {
  .achievements__item p {
    width: 100%;
  }
}
.achievements__item:nth-of-type(even) {
  background-color: #fff;
}
.achievements__item:nth-of-type(odd) {
  color: #fff;
}
.achievements__item:nth-of-type(odd) .achievements__count div {
  background-color: #fff;
  color: #0e0c15;
}
.achievements__item:nth-of-type(odd):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #131313;
  opacity: 0.85;
  z-index: -1;
  border-radius: inherit;
}
.achievements__item:nth-of-type(4n+1) {
  background: url(../images/services-img1.jpg) center center/cover no-repeat;
}
.achievements__item:nth-of-type(4n+3) {
  background: url(../images/services-img2.jpg) center center/cover no-repeat;
}

.achievements__count {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 60%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .achievements__count {
    width: 100%;
  }
}
.achievements__count div {
  background-color: #0e0c15;
  color: #fff;
  max-width: 64px;
  max-height: 64px;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50%;
}

.vision__title {
  margin-bottom: 40px;
  align-items: center;
}

.vision__row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-content: stretch;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .vision__row:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .vision__row:nth-of-type(even) .vision__arrow img {
    transform: scale(-1, 1);
  }
}
@media screen and (max-width: 767px) {
  .vision__row {
    flex-direction: column;
    align-items: center;
  }
}

.vision__item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #7f868a;
  width: calc(50% - 20px);
  height: auto;
  gap: 30px;
}
@media screen and (max-width: 1023px) {
  .vision__item {
    width: calc(66.6666666667% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .vision__item {
    padding: 20px;
    width: 100%;
  }
}
.vision__item img {
  max-height: 240px;
  border-radius: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  aspect-ratio: 1/0.5;
  filter: grayscale(100%);
}
.vision__item .vision__item_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.vision__item .vision__item_content .green {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.vision__item .vision__item_content p {
  width: 80%;
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.vision__item .vision__item_content p:nth-of-type(1):before, .vision__item .vision__item_content p:nth-of-type(1):after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("../images/quotation.svg") center center/cover no-repeat;
}
.vision__item .vision__item_content p:nth-of-type(1):before {
  left: -30px;
}
.vision__item .vision__item_content p:nth-of-type(1)::after {
  right: -30px;
  transform: scale(-1, 1);
}

.vision__arrow {
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .vision__arrow {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .vision__arrow {
    width: 100%;
    max-width: 280px;
    max-height: 280px;
  }
}
.vision__arrow img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}

.who__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  align-items: start;
}
@media screen and (max-width: 1023px) {
  .who__container {
    flex-direction: column;
  }
}

.events {
  padding: 120px 0;
  background-color: #fff;
  border-bottom: 1px solid #7f868a;
}
@media screen and (max-width: 767px) {
  .events {
    padding: 60px 0;
  }
}

.events__container {
  display: flex;
  gap: 60px;
}
@media screen and (max-width: 1023px) {
  .events__container {
    flex-direction: column;
  }
}

.events__images {
  display: flex;
  align-items: center;
  justify-content: start;
  width: calc(50% - 30px);
  position: relative;
}
@media screen and (max-width: 1023px) {
  .events__images {
    width: 100%;
  }
}
.events__images img {
  border-radius: 50%;
  max-width: 62%;
  width: 100%;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 1023px) {
  .events__images img {
    max-width: 50%;
  }
}
.events__images img:nth-child(2) {
  border: 10px solid #fff;
  z-index: 1;
  position: relative;
  margin-left: -30%;
  box-sizing: content-box;
}
@media screen and (max-width: 550px) {
  .events__images img:nth-child(2) {
    border-width: 5px;
  }
}
.events__images img:nth-child(1) {
  z-index: 0;
  filter: grayscale(100%);
}

.events__content {
  height: auto;
  display: flex;
  width: calc(50% - 30px);
  flex-direction: column;
  height: auto;
}
@media screen and (max-width: 1023px) {
  .events__content {
    width: 100%;
  }
}
.events__content h2 {
  text-wrap: balance;
  margin-bottom: 10px;
}
.events__content p {
  margin-bottom: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.events__content p:nth-last-of-type(1) {
  margin-bottom: 30px;
}
.events__content .btn {
  max-width: 220px;
  align-items: center;
}

.benefits__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  align-items: start;
}
@media screen and (max-width: 1023px) {
  .benefits__container {
    flex-direction: column;
  }
}

.benefits__scrolling_item {
  justify-content: center;
  padding: 0;
  gap: 0;
  min-height: 230px;
  height: auto;
  align-items: normal;
}
@media screen and (max-width: 767px) {
  .benefits__scrolling_item {
    flex-direction: column;
  }
}

.benefits__item_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-radius: 15px 0 0 15px;
  background: linear-gradient(94deg, #51bf26 0%, #e3ae0b 100%);
  flex-grow: 1;
  height: auto;
  color: #fff;
  gap: 20px;
  width: 48%;
}
@media screen and (max-width: 767px) {
  .benefits__item_title {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}
@media screen and (max-width: 367px) {
  .benefits__item_title {
    padding: 30px;
  }
}
.benefits__item_title span {
  padding: 4px 20px;
  color: #2ca656;
  background-color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 500px;
}

.benefits__item-content {
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .benefits__item-content {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}
.benefits__item-content p {
  max-width: 385px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .benefits__item-content p {
    max-width: 100%;
  }
}
.benefits__item-content p::after, .benefits__item-content p:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
}
.benefits__item-content p::after {
  right: -20px;
  bottom: -30px;
  transform: scale(-1);
  background: url(../images/quotation.svg) center center/cover no-repeat;
}
.benefits__item-content p::before {
  background: url(../images/quotation.svg) center center/cover no-repeat;
  top: -30px;
  left: -20px;
}

.feature__title {
  align-items: center;
  margin-bottom: 60px;
}

.feature__item {
  padding: 80px;
  border: 1px solid #7f868a;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .feature__item {
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .feature__item {
    padding: 40px 20px;
  }
}
.feature__item .green {
  position: absolute;
  top: -17px;
  left: calc(50% - 35px);
  font-size: 20px;
}
.feature__item .green:before {
  display: none;
}

.feature__item_title {
  padding-bottom: 20px;
  border-bottom: 1px solid #7f868a;
}

.feature__item_content {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 550px) {
  .feature__item_content {
    flex-direction: column;
    gap: 20px;
  }
}

.feature__item_images {
  display: flex;
  width: 25%;
  position: relative;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .feature__item_images {
    justify-content: center;
  }
}
.feature__item_images img {
  border-radius: 50%;
  max-width: 100px;
  aspect-ratio: 1/1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
  width: 100%;
}
@media screen and (max-width: 550px) {
  .feature__item_images img {
    max-width: 100px;
    min-width: 85px;
  }
}
.feature__item_images img:nth-of-type(1) {
  filter: grayscale(100%);
}
.feature__item_images img:nth-of-type(2) {
  margin-left: -10%;
  z-index: 1;
  border: 5px solid #fff;
  border-right: none;
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .feature__item_images img:nth-of-type(2) {
    margin-left: -25%;
  }
}

.feature__item_text {
  width: 50%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
@media screen and (max-width: 550px) {
  .feature__item_text {
    font-size: 18px;
  }
}
@media screen and (max-width: 550px) {
  .feature__item_text {
    width: 100%;
  }
}

.contact__map {
  position: relative;
  border-radius: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1023px) {
  .contact__map {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.contact__map iframe {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/0.38;
}
@media screen and (max-width: 1023px) {
  .contact__map iframe {
    aspect-ratio: 1/0.5;
  }
}
@media screen and (max-width: 767px) {
  .contact__map iframe {
    aspect-ratio: 1;
  }
}
.contact__map .contact__item {
  width: 42%;
}
@media screen and (max-width: 1023px) {
  .contact__map .contact__item {
    width: 100%;
  }
}

.contact__map-address {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
@media screen and (max-width: 1023px) {
  .contact__map-address {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
  }
}
.contact__map-address span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #0e0c15;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact__item {
  padding: 30px;
  border: 0.5px solid #7f868a;
  border-radius: 20px;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  gap: 40px;
  width: calc(33.3333333333% - 5px);
}
@media screen and (min-width: 1200px) {
  .contact__item {
    padding: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .contact__item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .contact__item {
    padding: 20px;
  }
}

.contact__item_title {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #7F868A;
}

.contact__items {
  gap: 20px;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .contact__items {
    flex-direction: column;
  }
}

.contact__item_info {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.contact__item_info svg {
  min-width: 30px;
  min-height: 30px;
  flex-grow: 1;
  width: 100%;
  flex-grow: 1;
  aspect-ratio: 1/1;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
}
.contact__item_info svg ellipse, .contact__item_info svg rect {
  transition: 0.3s ease;
}
.contact__item_info .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  border: 1px solid #0e0c15;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 1100px) {
  .contact__item_info .phone {
    font-size: 19px;
    padding: 10px;
  }
}
.contact__item_info a:not([class]) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 500px;
  border: 1px solid #0e0c15;
  padding-right: 10px;
  width: calc(50% - 5px);
  max-width: 135px;
  transition: 0.3s ease;
  gap: 5px;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (min-width: 1200px) {
  .contact__item_info a:not([class]) {
    padding-right: 20px;
    max-width: 100%;
  }
}
.contact__item_info a:not([class]):first-child {
  margin-right: 10px;
}
.contact__item_info a:not([class]) svg {
  min-width: 30px;
}
@media screen and (min-width: 1200px) {
  .contact__item_info a:not([class]) svg {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
.contact__item_info a:not([class]):hover {
  border-color: #2ca656;
}
.contact__item_info a:not([class]):hover svg ellipse {
  fill: #2ca656;
}

.contact__item_info:hover > svg rect {
  fill: #2ca656;
}

.contact__item_info:hover > a {
  border-color: #2ca656;
}

.book__container {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .book__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .book__container {
    gap: 20px;
  }
}
.book__container form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 25px;
  padding: 60px;
  background-color: #fff;
  border: 0.5px solid #7f868a;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .book__container form {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .book__container form {
    padding: 30px;
  }
}
.book__container form .input-wrap {
  position: relative;
  width: calc(50% - 15px);
}
.book__container form .input-wrap:has(textarea) {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .book__container form .input-wrap {
    width: 100%;
  }
}
.book__container form .input-wrap input, .book__container form .input-wrap select, .book__container form .input-wrap textarea {
  display: flex;
  width: 100%;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 1px solid #7f868a;
  background: #F3F7F9;
  color: #0e0c15;
  cursor: pointer;
  outline: none;
}
.book__container form .input-wrap input::-moz-placeholder, .book__container form .input-wrap select::-moz-placeholder, .book__container form .input-wrap textarea::-moz-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0e0c15;
}
.book__container form .input-wrap input::placeholder, .book__container form .input-wrap select::placeholder, .book__container form .input-wrap textarea::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0e0c15;
}
.book__container form .input-wrap input:focus-within, .book__container form .input-wrap select:focus-within, .book__container form .input-wrap textarea:focus-within {
  border-color: #2ca656;
}
.book__container form .input-wrap input:focus-within::-moz-placeholder, .book__container form .input-wrap select:focus-within::-moz-placeholder, .book__container form .input-wrap textarea:focus-within::-moz-placeholder {
  color: #2ca656;
  transform: translateY(-15px);
}
.book__container form .input-wrap input:focus-within::placeholder, .book__container form .input-wrap select:focus-within::placeholder, .book__container form .input-wrap textarea:focus-within::placeholder {
  color: #2ca656;
  transform: translateY(-15px);
}
.book__container form .input-wrap textarea {
  border-radius: 20px;
  min-height: 180px;
  resize: none;
  width: 100%;
  margin-bottom: 20px;
}
.book__container form .input-wrap label {
  position: absolute;
  top: 0;
  transform: translate(0px, 80%);
  left: 18px;
  padding: 0 5px;
  color: #0e0c15;
  font-size: 16px;
  transition: top 0.3s, color 0.3s, font-size 0.3s;
}
.book__container form .input-wrap .up {
  top: -5px;
  left: 18px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #2ca656;
}
.book__container form .input-wrap .up input {
  border: 1px solid #2ca656;
}
.book__container form .input-wrap input:focus ~ label, .book__container form .input-wrap select:focus ~ label, .book__container form .input-wrap textarea:focus ~ label {
  top: -5px;
  left: 18px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #2ca656;
}
.book__container form .input-wrap .focused ~ label, .book__container form .input-wrap .focused ~ label, .book__container form .input-wrap .focused ~ label {
  top: -5px;
  left: 18px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #2ca656;
}
.book__container form .select-wrap {
  position: relative;
  width: 100%;
  display: flex;
  width: 100%;
}
.book__container form .select-wrap span {
  width: 100%;
}
.book__container form .select-wrap:before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  right: 21px;
  top: 45%;
  z-index: 15;
  background: url(../images/vector.svg) no-repeat;
  transform: translateY(0) rotate(0);
  transition: transform 0.3s ease;
}
.book__container form .select-wrap select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: flex;
  width: 100%;
  color: inherit;
  display: flex;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 1px solid #7f868a;
  background: #F3F7F9;
  color: #0e0c15;
  outline: none;
  cursor: pointer;
}
.book__container form .select-wrap select option {
  font: inherit;
  display: block;
  white-space: nowrap;
  color: inherit;
}
.book__container form .select-wrap select option option:hover {
  background-color: #2ca656;
}
.book__container form .select-wrap:focus-within:before {
  transform: translateY(-50%) rotate(180deg);
}
.book__container form .submit-wrap {
  width: 100%;
  position: relative;
}
.book__container form .submit-wrap input {
  display: flex;
  width: 100%;
  padding: 18px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  background: #2ca656;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s ease;
}
.book__container form .submit-wrap input:hover {
  background-color: #fff;
  color: #2ca656;
  border-color: #2ca656;
}
.book__container form .submit-wrap::after {
  content: "";
  position: absolute;
  left: calc(50% + 35px);
  top: 50%;
  transform: translate(0%, -46%);
  width: 14px;
  height: 14px;
  transition: all 0.3s ease;
  background: url("../images/arrow-white-submit.svg") center center/cover no-repeat;
}
.book__container form .submit-wrap:hover:after {
  background: url("../images/arrow-white-submit-green.svg") center center/cover no-repeat;
}

.book__title {
  max-width: 420px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .book__title {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
}

.wpcf7-form-control-wrap {
  position: relative;
}

.article {
  padding: 40px;
  background-color: #fff;
  border: 0.5px solid #7f868a;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .article {
    padding: 20px;
  }
}
.article img {
  max-width: 100%;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1/0.45;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 20%;
     object-position: 100% 20%;
  margin-bottom: 40px;
}
.article h2 {
  margin-bottom: 10px;
}
.article h3 {
  margin-bottom: 10px;
}
.article h4 {
  margin-bottom: 10px;
}
.article p {
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.article ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.article ul li {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 22px;
}
.article ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -16px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/list-circle.svg) center center/cover no-repeat;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
  border-radius: 30px;
  background-color: #2ca656;
  color: #fff;
  position: relative;
}
.promo__container::after {
  content: "";
  width: 1px;
  height: 60%;
  position: absolute;
  top: 65px;
  left: 50%;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .promo__container {
    flex-direction: column;
    padding: 0;
  }
  .promo__container::after {
    display: none;
  }
}

.promo__title,
.promo__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  width: 40.5%;
}
@media screen and (max-width: 767px) {
  .promo__title,
  .promo__info {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .promo__title,
  .promo__info {
    padding: 20px;
  }
}

.promo__title {
  border-radius: 30px 30px 0 0;
}
@media screen and (max-width: 767px) {
  .promo__title {
    gap: 20px;
  }
}

.promo__images {
  display: flex;
  align-items: center;
}
.promo__images img {
  max-width: 64px;
  max-height: 64px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
}
.promo__images img:not(:first-child) {
  margin-left: -5%;
}

.promo__info p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.promo__info .btn {
  max-width: 220px;
  justify-content: center;
}
.promo__info .btn:hover {
  background-color: transparent;
  border-color: #fff;
}
@media screen and (max-width: 767px) {
  .promo__info {
    border-radius: 0 0 30px 30px;
  }
}

.error__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.error__container img {
  max-width: 700px;
  aspect-ratio: 1/0.8;
  -o-object-fit: cover;
     object-fit: cover;
}
.error__container .green-btn {
  max-width: 168px;
}
.error__container h2 {
  margin-bottom: 10px;
}
.error__container p {
  margin-bottom: 20px;
}

@media screen and (prefers-color-scheme: dark) {
  .accord-item-top .close {
    background-color: #7c7c7c;
  }
  .footer__contact a svg rect {
    fill: #939090;
  }
  .footer__social .socials a svg ellipse {
    fill: #939090;
  }
  .contact__item_info > svg rect {
    fill: #939090;
  }
  .contact__item_info a:not([class]) svg ellipse {
    fill: #939090;
  }
}/*# sourceMappingURL=style.css.map */